@font-face {
	font-family: cursive;
	src: url("fonts/Merienda-Regular.ttf");
}

body {
	text-align: center;
	background-image: url("images/bg.jpg");
	background-color: #ffb6c1;
}

div#all {
	margin: 0 auto;
}

h1 {
	display: block;
	font-weight: bold;
	font-family: cursive;
	font-size: 48px;
	color: #e67687;
}

h2 {
	display: block;
	font-weight: bold;
	font-family: cursive;
	font-size: 30px;
	color: #e67687;
}

#partners {
	text-align: center;
}

figure {
	display: inline-block;
	margin-bottom: 30px;
}

figure img {
	border-radius: 50%;
}

figure figcaption {
	margin: 10px 0 0 0;

	font-weight: bold;
	font-family: cursive;
	font-size: 24px;
	color: #e67687;
}

form {
	font-size: 18px;
	font-family: Arial;
	color: black;
}

form .rows {
	margin: 0 auto;
	max-width: 200px;
	border: 3px solid #e67687;
	background-color: #ffc6c4;
}

form .rows .row {
	margin: 10px 0 10px 0;
}